FORMAT: 1A
HOST: http://twit.tv/api/v1.0

# TWiT.tv: TWiT.tv API
This is the API documentation for **TWiT.tv**.
The API publishes to the TWiT.tv website and other API consumers like apps.

## Testing the API

You may explore the entirety of the TWiT.tv API right here in Apiary. You may also even utilize Apiary's mock api server functionality to start building your applications with mocked but accurate API responses.

## Using the API (API Authentication)

In order to use the TWiT.tv API you will need to register for an account with 3 Scale and API provider service.

API Authentication is provided by 3 Scale (3scale.net) at https://twit-tv.3scale.net. 3 Scale is an API provider service where you can register your API app and apply for access to the TWiT.tv API via an Application plan. An application plan has rate limits (it may have additional functionality in the future). These rate limits are the number of API calls that your application can make in a certain time limit.

When you are granted access to the TWiT.tv API you can begin making requests against the API.  Please see the documentation on 3scale.net on authentication patterns.  TWiT.tv's API uses an application identifier and key pair pattern.  While the API id may or may not be secret depending on your implementation, the app key is secret and should be protected.

### Valid calls against the API will:

* Use https://
* Include your api id and api key
* Include an accept header of: application/json

Example call in curl using headers:
***
    curl -H "Accept: application/json" -H "app-id: 1appkey" -H "app-key: 12YOUR3PRIVATE3APPLICATION3KEY" https://twit.tv/api/v1.0/shows
***

### Exceeding usage limits:

If you exceed usage limits for your plan you will receive the following message:
***
    {
      "_status" : 500,
      "_errors" : [{"message":"usage limits are exceeded"}]
    }
***

## API Conventions

### HAL + JSON
The api returns hal json with _embedded resources to reduce roundtrips, _links for HATEOAS, and properly formatted JSON attributes for semantics.

### API Versions
Requesting specific versions and content types of the API will be done through URL paths, ex /api/v1.0/{resource}. The current version is 1.0.

### Additional Implementation Details
+ Most resources can be filtered by their attributes (though not every attribute) in this format: "filter[attributeName]=value"
+ Dates are returned in ZULU time.
+ Most dates in the API can be filtered through the use of unix timestamp format.

### Sorting Fields
To sort by a specific field in a response, you can use the `sort` parameter, along with the property you wish to sort by. Default sorting is ascending. By negating the property (prefixing with a `-` character) you can sort in descending order for that property.
+ `?sort=created` will sort by the `created` property in ascending order
+ `?sort=-created` will sort by the `created` property in descending order

### Item Endpoints loadByFieldName
On single item endpoints you can replace the typical id, usually numeric with an alternative {id} if you additionally include the param loadByFieldName={paramName}. EX: Reviews?loadByFieldName=label.  This will not work for all fields so we have tried to indicate where this might be used.

# Group --- Endpoints ---

# Group Home

## Home [/?{filter%5Bmajor_version%5D,filter%5Bminor_version%5D,filter%5Blabel%5D}]
An endpoint that lists all other endpoints available to this consumer.

+ Parameters
    + major_version (number, optional) ... Limit to the specified major version number.
    + minor_version (number, optional) ... Limit to the specified minor version number.
    + label (string, optional) - Limit to items with a label matching your string.

### Retrieve API home [GET]
+ Response 200 (application/hal+json)
            + Header
                Accept: application/hal+json;

    + Body

            {
                "count":22,
                "discovery":[
                    {
                        "label":"Roles",
                        "description":"A resource that exposes roles that people resources may perform on episodes or shows or at TWiT.tv.",
                        "name":"roles__1_0",
                        "resource":"roles",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/roles"
                            }
                        }
                    },
                    {
                        "label":"Tags",
                        "description":"A resource that displays all taxonomy resources of all different kinds.",
                        "name":"tags__1_0",
                        "resource":"tags",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/tags"
                            }
                        }
                    },
                    {
                        "label":"Topics",
                        "description":"Resources that represent tags in a free-tagging taxonomy. Can be used to filter other resources where present.",
                        "name":"topics__1_0",
                        "resource":"topics",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/topics"
                            }
                        }
                    },
                    {
                        "label":"Categories",
                        "description":"A resource that exposes the categories used to broadly typify other resources. Can be used as a filter on other resources where present.",
                        "name":"categories__1_0",
                        "resource":"categories",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/categories"
                            }
                        }
                    },
                    {
                        "label":"Types",
                        "description":"Resources that represent the types of TWiT posts available in the posts endpoint. Can be used to filter posts.",
                        "name":"types__1_0",
                        "resource":"types",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/types"
                            }
                        }
                    },
                    {
                        "label":"Posts",
                        "description":"A resource that provides post or blog-like content from TWiT.tv",
                        "name":"posts__1_0",
                        "resource":"posts",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/posts"
                            }
                        }
                    },
                    {
                        "label":"Shows",
                        "description":"Resources that provide information about current and archived TWiT.tv shows.",
                        "name":"shows__1_0",
                        "resource":"shows",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/shows"
                            }
                        }
                    },
                    {
                      "label": "Streams",
                      "description": "Resources that provide information about the live streams for TWiT.tv.",
                      "name": "streams__1_0",
                      "resource": "streams",
                      "major_version": 1,
                      "minor_version": 0,
                      "_links": {
                        "self": {
                          "href": "https:\\/\\/twit.tv\\/api\\/v1.0\\/streams"
                        }
                      }
                    },
                    {
                        "label":"Pages",
                        "description":"Resources that provide general information about TWiT.tv",
                        "name":"pages__1_0",
                        "resource":"pages",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/pages"
                            }
                        }
                    },
                    {
                        "label":"Episodes",
                        "description":"Resources that surface information about TWiT.tv episodes.",
                        "name":"episodes__1_0",
                        "resource":"episodes",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/episodes"
                            }
                        }
                    },
                    {
                        "label":"Features",
                        "description":"Resources that contain featured content, notices, and information from TWiT.tv.",
                        "name":"features__1_0",
                        "resource":"features",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/features"
                            }
                        }
                    },
                    {
                        "label":"Offers",
                        "description":"Resources that provide information about TWiT.tv Sponsor offers on TWiT.tv episodes.",
                        "name":"offers__1_0",
                        "resource":"offers",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/offers"
                            }
                        }
                    },
                    {
                        "label":"Subscriptions",
                        "description":"Resources that provide TWiT.tv show subscription protocol links.",
                        "name":"subscriptions__1_0",
                        "resource":"subscriptions",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/subscriptions"
                            }
                        }
                    },
                    {
                        "label":"Credits",
                        "description":"Resources that combine people and roles resources. These credits resources can be used to filter shows and episodes for specific combinations of role and people.",
                        "name":"credits__1_0",
                        "resource":"credits",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/credits"
                            }
                        }
                    },
                    {
                        "label":"Providers",
                        "description":"Resources that provide information about content subscription providers and their protocols.",
                        "name":"providers__1_0",
                        "resource":"providers",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/providers"
                            }
                        }
                    },
                    {
                        "label":"Sponsors",
                        "description":"A resource for Sponsors of Twit.tv.",
                        "name":"sponsors__1_0",
                        "resource":"sponsors",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/sponsors"
                            }
                        }
                    },
                    {
                        "label":"People",
                        "description":"Resources that provide information about the people and personalities from TWiT.tv, TWiT.tv shows, and TWiT.tv episodes.",
                        "name":"people__1_0",
                        "resource":"people",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/people"
                            }
                        }
                    },
                    {
                        "label":"Sponsor Queues",
                        "description":"A resource that collects current sponsors for TWiT.tv.",
                        "name":"sponsorqueues__1_0",
                        "resource":"sponsorqueues",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/sponsorqueues"
                            }
                        }
                    },
                    {
                        "label":"Slideshow Queues",
                        "description":"A resource that collects featured content for TWiT.tv.",
                        "name":"slideshows__1_0",
                        "resource":"slideshows",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/slideshows"
                            }
                        }
                    },
                    {
                      "label": "Live Streams",
                      "description": "A resource that exposes live streaming providers",
                      "name": "livestreams__1_0",
                      "resource": "livestreams",
                      "major_version": 1,
                      "minor_version": 0,
                      "_links": {
                        "self": {
                          "href": "https:\\/\\/twit.tv\\/api\\/v1.0\\/livestreams"
                        }
                      }
                    },
                    {
                        "label":"Feature Queues",
                        "description":"A resource that exposes very important messages and notices from TWiT.tv.",
                        "name":"featurequeues__1_0",
                        "resource":"featurequeues",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/featurequeues"
                            }
                        }
                    },
                    {
                        "label":"Search",
                        "description":"A resource that exposes a keyword search on indexed content fields.",
                        "name":"search__1_0",
                        "resource":"search",
                        "major_version":1,
                        "minor_version":0,
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/search"
                            }
                        }
                    }
                ],
                "_links":{
                    "self":{
                        "title":"Self",
                        "href":"https:\/\/twit.tv\/api"
                    }
                }
            }

# Group Categories

## List all categories [/categories{?filter%5Blabel%5D,page,order,range}]
This API method returns all categories for TWiT.tv. Categories are a structured taxonomy applied to posts, episodes, and pages.

A query without parameters returns all categories. Default sort order by is ASC by created date.

In addition to HATEOAS elements a Categories object has the following important attributes:

+ id - the resource identifier
+ label - the name of the resource
+ ttl - a suggested ttl for this resource


+ Parameters
    + filter%5Blabel%5D (number, `22`, optional) ... the id of the Roles resource you want to filter by.
    + page (number, optional) ... number for results pagination
    + range (number, optional) ... Limit the results set.


### List all categories [GET]
+ Response 200 (application/hal+json)
        + Headers
            Accept: application/hal+json;

    + Body

            {
              "categories": [
                {
                  "id": 94,
                  "label": "Help & How To",
                  "ttl": "600",
                  "weight": "0",
                  "vid": "6",
                  "type": "categories",
                  "vocabularyName": "Categories",
                  "termPath": "help-how",
                  "_links": {
                    "self": {
                      "href": "https:\\/\\/twit.tv\\/api\\/v1.0\\/categories\\/94"
                    }
                  }
                },
                {
                  "id": 93,
                  "label": "News",
                  "ttl": "600",
                  "weight": "0",
                  "vid": "6",
                  "type": "categories",
                  "vocabularyName": "Categories",
                  "termPath": "news",
                  "_links": {
                    "self": {
                      "href": "https:\\/\\/twit.tv\\/api\\/v1.0\\/categories\\/93"
                    }
                  }
                },
                {
                  "id": 92,
                  "label": "Reviews",
                  "ttl": "600",
                  "weight": "0",
                  "vid": "6",
                  "type": "categories",
                  "vocabularyName": "Categories",
                  "termPath": "reviews",
                  "_links": {
                    "self": {
                      "href": "https:\\/\\/twit.tv\\/api\\/v1.0\\/categories\\/92"
                    }
                  }
                }
              ],
              "count": 3,
              "_links": {
                "self": {
                  "title": "Self",
                  "href": "https:\\/\\/twit.tv\\/api\\/v1.0\\/categories"
                }
              }
            }

## Categories Item [/categories/{id}{?fields}]
A single categories object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of tag, can also utilize the ?loadByFieldName=label method to load by english values.
    + fields (string, optional) ... used to limit the fields returned from a resource to a specific set of fields.

### Retrieve a category [GET]
+ Response 200 (application/hal+json)

    + Header

            Accept: application/hal+json;

    + Body

            {
              "categories": {
                "id": "94",
                "label": "Help & How To",
                "self": "https:\\/\\/twit.tv\\/api\\/v1.0\\/categories\\/94",
                "ttl": "600",
                "weight": "0",
                "vid": "6",
                "type": "categories",
                "vocabularyName": "Categories",
                "termPath": "help-how",
                "_embedded": []
              },
              "_links": {
                "self": {
                  "title": "Self",
                  "href": "https:\\/\\/twit.tv\\/api\\/v1.0\\/categories\\/94"
                }
              }
            }

# Group Credits

## List all show credits [/credits{?filter%5Broles%5D,filter%5Bpeople%5D,page,order,range}]
This API endpoint returns all show credits for TWiT.tv. Show credits are a combination of a People resource and a Roles resource.
A query without parameters returns all active credits. Default sort order by is ASC alphabetical by person name.

In addition to HATEOAS elements (embedded person and role) a Credits object has the following important attributes:

+ id - the resource identifier
+ label - the name of the resource, a combination of Person name and role.
+ ttl - a suggested ttl for this resource
+ embedded - Roles objects and people objects are located in the _embedded property of each resource that contain fully formed endpoints (see the documentation for people and roles elsewhere in these docs for more information about the resource.)

+ Parameters
    + filter%5Broles%5D (number, `22`, optional) ... the id of the Roles resource you want to filter by.
    + filter%5Bpeople%5D (number, `17`, optional) ... the id of the People resource, will filter list by this person and provide all of their credits.
    + page (number, optional) ... number for results pagination
    + range (number, optional) ... Limit the results set.


### List all credits [GET]
+ Response 200 (application/hal+json)
        + Header
            Accept: application/hal+json;

    + Body

            {
                "count":51,
                "credits":[
                    {
                        "id":54331,
                        "label":"Shannon Morse : Host",
                        "ttl":"600",
                        "created":"2015-06-11T19:01:20Z",
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/credits\/54331"
                            }
                        },
                        "_embedded":{
                            "roles":[
                                {
                                    "id":"76",
                                    "label":"Host",
                                    "ttl":"600",
                                    "weight":"0",
                                    "vid":"11",
                                    "type":"roles",
                                    "vocabularyName":"Roles",
                                    "termPath":"host",
                                    "_links":{
                                        "self":{
                                            "href":"https:\/\/twit.tv\/api\/v1.0\/roles\/76"
                                        }
                                    }
                                }
                            ],
                            "people":[
                                {
                                    "id":"54326",
                                    "label":"Shannon Morse",
                                    "cleanPath":"\/people\/shannon-morse",
                                    "ttl":"600",
                                    "positionTitle":"Host",
                                    "bio":"\u003Cp\u003EShannon Morse has been building computers since she was child-size, and discovered her love for theater early on. After college, Online Media felt like the perfect combination of both technology and entertainment. She has been podcasting since 2008.\u003C\/p\u003E\u003Cp\u003EShannon has hosted \u003Ca href=\u0022http:\/\/www.tekthing.com\/\u0022 target=\u0022_blank\u0022\u003ETekThing\u003C\/a\u003E and \u003Ca href=\u0022http:\/\/www.threatwire.net\/\u0022 target=\u0022_blank\u0022\u003EThreat Wire\u003C\/a\u003E, independent; \u003Ca href=\u0022http:\/\/www.hak5.org\/\u0022 target=\u0022_blank\u0022\u003EHak5\u003C\/a\u003E and \u003Ca href=\u0022http:\/\/www.hak5.org\/\u0022 target=\u0022_blank\u0022\u003EHakTip\u003C\/a\u003E on Revision3, a Discovery Digital Network; \u003Ca href=\u0022http:\/\/revision3.com\/sgnlbysony\/\u0022 target=\u0022_blank\u0022\u003ESGNL by Sony\u003C\/a\u003E, \u003Ca href=\u0022http:\/\/www.tekzilla.com\/\u0022 target=\u0022_blank\u0022\u003ETekzilla\u003C\/a\u003E and \u003Ca href=\u0022http:\/\/www.tekzilla.com\/\u0022 target=\u0022_blank\u0022\u003ETekzilla Bites\u003C\/a\u003E on Revision3; and she worked as a contributor on \u003Ca href=\u0022http:\/\/twit.tv\/\u0022 target=\u0022_blank\u0022\u003ETWiT\u003C\/a\u003E. She has also worked as a Producer for \u003Ca href=\u0022http:\/\/www.twit.tv\/byb\u0022 target=\u0022_blank\u0022\u003EBefore You Buy\u003C\/a\u003E and \u003Ca href=\u0022http:\/\/twit.tv\/kh\u0022 target=\u0022_blank\u0022\u003EKnow How\u003C\/a\u003E on TWiT, as a host for \u003Ca href=\u0022http:\/\/twit.tv\/c101\u0022 target=\u0022_blank\u0022\u003ECoding 101\u003C\/a\u003E, and as a Host on \u003Ca href=\u0022http:\/\/www.biteclubshow.com\/\u0022 target=\u0022_blank\u0022\u003EBite Club Show\u003C\/a\u003E.\u003C\/p\u003E\u003Cp\u003EShe has made appearances on several podcasts on popular networks like TWiT, Revision3, and CNET. A full portfolio can be found on via the link above.\u003C\/p\u003E\u003Cp\u003EShannon lives in San Francisco with her husband and two cats. She likes anime, video games, astronomy, computers, geek culture, lemon sorbet, and fried southern food.\u003C\/p\u003E\u003Cp\u003EShannon is welcome to interviews and guest hosting spots! If interested in an opportunity to interview Shannon or have her guest host on your podcast, please send her a message on \u003Ca href=\u0022http:\/\/twitter.com\/snubs\u0022 target=\u0022_blank\u0022\u003ETwitter\u003C\/a\u003E or via \u003Ca href=\u0022mailto:shannon@hak5.org\u0022\u003EEmail\u003C\/a\u003E.\u003C\/p\u003E",
                                    "bioSummary":"",
                                    "picture":{
                                        "fid":"30311",
                                        "url":"https:\/\/elroy.twit.tv\/sites\/default\/files\/people\/54326\/pictures\/snubs.jpg",
                                        "fileName":"snubs.jpg",
                                        "mimeType":"image\/jpeg",
                                        "derivatives":{
                                            "thumbnail":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/thumbnail\/public\/people\/54326\/pictures\/snubs.jpg?itok=jY5jl8Qr",
                                            "twit_album_art_70x70":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_70x70\/public\/people\/54326\/pictures\/snubs.jpg?itok=8qWiiHzF",
                                            "twit_album_art_144x144":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_144x144\/public\/people\/54326\/pictures\/snubs.jpg?itok=bdxZ2oQX",
                                            "twit_album_art_240x240":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_240x240\/public\/people\/54326\/pictures\/snubs.jpg?itok=e7NCEOHg",
                                            "twit_album_art_300x300":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_300x300\/public\/people\/54326\/pictures\/snubs.jpg?itok=9AKvES3i",
                                            "twit_album_art_600x600":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_600x600\/public\/people\/54326\/pictures\/snubs.jpg?itok=2gfNT9Bp",
                                            "twit_album_art_1400x1400":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_1400x1400\/public\/people\/54326\/pictures\/snubs.jpg?itok=45MRMmQi",
                                            "twit_album_art_2048x2048":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_2048x2048\/public\/people\/54326\/pictures\/snubs.jpg?itok=eIhf-v0v"
                                        },
                                        "fileSize":"483143",
                                        "width":"1600",
                                        "height":"1600",
                                        "alt":"Shannon Morse",
                                        "title":"Shannon Morse",
                                        "status":"1",
                                        "changed":"2015-06-11T19:01:20Z",
                                        "created":"2015-06-11T19:01:20Z"
                                    },
                                    "relatedLinks":[
                                        {
                                            "url":"http:\/\/www.snubsie.com\/",
                                            "title":"Snubsie.com",
                                            "attributes":[

                                            ]
                                        },
                                        {
                                            "url":"http:\/\/twitter.com\/snubs",
                                            "title":"Twitter",
                                            "attributes":[

                                            ]
                                        }
                                    ],
                                    "published":"1",
                                    "created":"2015-06-11T19:01:12Z",
                                    "changed":"2015-06-11T19:01:20Z",
                                    "sticky":"0",
                                    "staff":false,
                                    "_links":{
                                        "self":{
                                            "href":"https:\/\/twit.tv\/api\/v1.0\/people\/54326"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "id":54286,
                        "label":"Justin Robert Young : Host",
                        "ttl":"600",
                        "created":"2015-06-11T17:03:12Z",
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/credits\/54286"
                            }
                        },
                        "_embedded":{
                            "roles":[
                                {
                                    "id":"76",
                                    "label":"Host",
                                    "ttl":"600",
                                    "weight":"0",
                                    "vid":"11",
                                    "type":"roles",
                                    "vocabularyName":"Roles",
                                    "termPath":"host",
                                    "_links":{
                                        "self":{
                                            "href":"https:\/\/twit.tv\/api\/v1.0\/roles\/76"
                                        }
                                    }
                                }
                            ],
                            "people":[
                                {
                                    "id":"91",
                                    "label":"Justin Robert Young",
                                    "cleanPath":"\/people\/justin-robert-young",
                                    "ttl":"600",
                                    "positionTitle":null,
                                    "bio":"\u003Cp style=\u0022margin-top: 0.5em; margin-bottom: 0.5em; line-height: 22.3999996185303px; color: rgb(37, 37, 37); font-family: sans-serif; font-size: 14px;\u0022\u003EJustin Robert Young is a podcaster, journalist, blogger and writer. Young is a co-host of the \u003Cem\u003ENight Attack\u003C\/em\u003E podcast with Brian Brushwood, and is a correspondent of \u003Cem\u003EDaily Tech News Show\u003C\/em\u003E with Tom Merritt. Young is editor-in-chief of iTricks.com\u00a0and WeirdThings.com.\u00a0Prior to this, he was formerly associate producer of \u003Cem\u003EG4 Underground\u003C\/em\u003E\u0027s first season. Along with Brushwood, he \u003Cspan style=\u0022color: rgb(37, 37, 37); font-family: sans-serif; font-size: 14px; line-height: 22.3999996185303px;\u0022\u003Ehas published two Billboard-topping comedy albums and\u00a0\u003C\/span\u003Espearheaded the effort behind the crowd-sourced romance story \u003Cem\u003EThe Diamond Club: A Novel\u003C\/em\u003E.\u003C\/p\u003E",
                                    "bioSummary":"",
                                    "picture":{
                                        "fid":"28941",
                                        "url":"https:\/\/elroy.twit.tv\/sites\/default\/files\/people\/91\/pictures\/justin_robert_young.jpg",
                                        "fileName":"justin_robert_young.jpg",
                                        "mimeType":"image\/jpeg",
                                        "derivatives":{
                                            "thumbnail":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/thumbnail\/public\/people\/91\/pictures\/justin_robert_young.jpg?itok=Yete_hqj",
                                            "twit_album_art_70x70":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_70x70\/public\/people\/91\/pictures\/justin_robert_young.jpg?itok=Ntei4FJ1",
                                            "twit_album_art_144x144":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_144x144\/public\/people\/91\/pictures\/justin_robert_young.jpg?itok=ksJGSjYg",
                                            "twit_album_art_240x240":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_240x240\/public\/people\/91\/pictures\/justin_robert_young.jpg?itok=f1NcGr8a",
                                            "twit_album_art_300x300":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_300x300\/public\/people\/91\/pictures\/justin_robert_young.jpg?itok=rnOjfCEC",
                                            "twit_album_art_600x600":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_600x600\/public\/people\/91\/pictures\/justin_robert_young.jpg?itok=hROAKlcr",
                                            "twit_album_art_1400x1400":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_1400x1400\/public\/people\/91\/pictures\/justin_robert_young.jpg?itok=uHNvmdJh",
                                            "twit_album_art_2048x2048":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_2048x2048\/public\/people\/91\/pictures\/justin_robert_young.jpg?itok=Ntqq5YUV"
                                        },
                                        "fileSize":"598268",
                                        "width":"1600",
                                        "height":"1600",
                                        "alt":"",
                                        "title":"",
                                        "status":"1",
                                        "changed":"2015-06-06T00:18:28Z",
                                        "created":"2015-06-06T00:18:28Z"
                                    },
                                    "relatedLinks":[
                                        {
                                            "url":"https:\/\/twitter.com\/justinryoung",
                                            "title":"Twitter",
                                            "attributes":[

                                            ]
                                        },
                                        {
                                            "url":"http:\/\/en.wikipedia.org\/wiki\/Justin_Robert_Young",
                                            "title":"Wikipedia",
                                            "attributes":[

                                            ]
                                        },
                                        {
                                            "url":"http:\/\/www.imdb.com\/name\/nm6370354\/",
                                            "title":"Internet Movie Database",
                                            "attributes":[

                                            ]
                                        }
                                    ],
                                    "published":"1",
                                    "created":"2013-05-24T21:41:08Z",
                                    "changed":"2015-06-08T16:32:42Z",
                                    "sticky":"0",
                                    "staff":false,
                                    "_links":{
                                        "self":{
                                            "href":"https:\/\/twit.tv\/api\/v1.0\/people\/91"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "id":50056,
                        "label":"Lou Maresca : Host",
                        "ttl":"600",
                        "created":"2015-06-05T21:06:59Z",
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/credits\/50056"
                            }
                        },
                        "_embedded":{
                            "roles":[
                                {
                                    "id":"76",
                                    "label":"Host",
                                    "ttl":"600",
                                    "weight":"0",
                                    "vid":"11",
                                    "type":"roles",
                                    "vocabularyName":"Roles",
                                    "termPath":"host",
                                    "_links":{
                                        "self":{
                                            "href":"https:\/\/twit.tv\/api\/v1.0\/roles\/76"
                                        }
                                    }
                                }
                            ],
                            "people":[
                                {
                                    "id":"50091",
                                    "label":"Lou Maresca",
                                    "cleanPath":"\/people\/lou-maresca",
                                    "ttl":"600",
                                    "positionTitle":"Co-host, \u0022Coding 101\u0022",
                                    "bio":"\u003Cp\u003ELou has always been passionate about technology and software. At the age of 18, he began his own startup providing custom hardware and software to companies like Mail Boxes Etc, Mony Mutual of New York, as well as other corporations and small businesses. With a BS in Computer Science, Electrical engineering, and a MS in Software Engineering, Lou has gained experience from a diverse set of corporations from Intel (Hardware Engineer), Anheuser-Busch (Systems Control Engineer), Thomson Reuters (formally known as Creative Solutions), and numerous other global corporations. For more than a decade, Lou has been at the Microsoft Corporation as a leading Software Development Engineer and Manager, driving the success of customer driven software such as Microsoft Dynamics CRM, GP, AX as well Office solutions.\u003C\/p\u003E",
                                    "bioSummary":"\u003Cp\u003ELou has always been passionate about technology and software. At the age of 18, he began his own startup providing custom hardware and software to companies like Mail Boxes Etc, Mony Mutual of New York, as well as other corporations and small businesses. With a BS in Computer Science, Electrical engineering, and a MS in Software Engineering, Lou has gained experience from a diverse set of corporations from Intel (Hardware Engineer), Anheuser-Busch (Systems Control Engineer), Thomson Reuters (formally known as Creative Solutions), and numerous other global corporations.\u003C\/p\u003E",
                                    "picture":{
                                        "fid":"29551",
                                        "url":"https:\/\/elroy.twit.tv\/sites\/default\/files\/people\/50091\/pictures\/loumm.jpg",
                                        "fileName":"loumm.jpg",
                                        "mimeType":"image\/jpeg",
                                        "derivatives":{
                                            "thumbnail":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/thumbnail\/public\/people\/50091\/pictures\/loumm.jpg?itok=CEHCo8bt",
                                            "twit_album_art_70x70":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_70x70\/public\/people\/50091\/pictures\/loumm.jpg?itok=Uju1_9ns",
                                            "twit_album_art_144x144":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_144x144\/public\/people\/50091\/pictures\/loumm.jpg?itok=FDYaPUhA",
                                            "twit_album_art_240x240":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_240x240\/public\/people\/50091\/pictures\/loumm.jpg?itok=SK3pyMIv",
                                            "twit_album_art_300x300":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_300x300\/public\/people\/50091\/pictures\/loumm.jpg?itok=Hqh2HNLQ",
                                            "twit_album_art_600x600":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_600x600\/public\/people\/50091\/pictures\/loumm.jpg?itok=65NO7MVW",
                                            "twit_album_art_1400x1400":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_1400x1400\/public\/people\/50091\/pictures\/loumm.jpg?itok=PbKP5Rm7",
                                            "twit_album_art_2048x2048":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_2048x2048\/public\/people\/50091\/pictures\/loumm.jpg?itok=q41rM6-G"
                                        },
                                        "fileSize":"262938",
                                        "width":"1600",
                                        "height":"1600",
                                        "alt":"Lou Maresca - Co-host of Coding 101",
                                        "title":"Lou Maresca - Co-host of Coding 101",
                                        "status":"1",
                                        "changed":"2015-06-06T17:04:00Z",
                                        "created":"2015-06-06T17:04:00Z"
                                    },
                                    "relatedLinks":[
                                        {
                                            "url":"https:\/\/twitter.com\/loumm",
                                            "title":"Twitter",
                                            "attributes":[

                                            ]
                                        }
                                    ],
                                    "published":"1",
                                    "created":"2015-05-19T19:56:15Z",
                                    "changed":"2015-06-11T22:46:58Z",
                                    "sticky":"0",
                                    "staff":true,
                                    "_links":{
                                        "self":{
                                            "href":"https:\/\/twit.tv\/api\/v1.0\/people\/50091"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                ],
                "_embedded":[

                ],
                "_links":{
                    "self":{
                        "title":"Self",
                        "href":"https:\/\/twit.tv\/api\/v1.0\/credits"
                    },
                    "next":{
                        "title":"Next",
                        "href":"https:\/\/twit.tv\/api\/v1.0\/credits?page=2"
                    }
                }
            }

## Credit Item [/credits/{id}{?fields}]
A single credits object with all its details included embedded role and person resource objects.

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of credit.
    + fields (string, `id`, optional) ... used to limit the fields returned from a resource to a specific set of fields.


### Retrieve a credit [GET]
+ Response 200 (application/hal+json)

            + Header
                Accept: application/hal+json;

    + Body

            {
                "credits":{
                    "id":"187",
                    "label":"Leo Laporte : Host",
                    "self":"https:\/\/twit.tv\/api\/v1.0\/credits\/187",
                    "ttl":"600",
                    "created":"2015-04-23T16:38:59Z",
                    "_embedded":{
                        "roles":{
                            "id":"76",
                            "label":"Host",
                            "ttl":"600",
                            "weight":"0",
                            "vid":"11",
                            "type":"roles",
                            "vocabularyName":"Roles",
                            "termPath":"host",
                            "_links":{
                                "self":{
                                    "href":"https:\/\/twit.tv\/api\/v1.0\/roles\/76"
                                }
                            }
                        },
                        "people":{
                            "id":"21",
                            "label":"Leo Laporte",
                            "cleanPath":"\/people\/leo-laporte",
                            "ttl":"600",
                            "positionTitle":null,
                            "bio":"\u003Ch2\u003ELeo Laporte is the founder and owner of the TWiT Netcast Network.\u003C\/h2\u003E\u003Cp\u003EHe launched the network in 2005 with its first show, \u003Ci\u003E\u0022This Week in Tech\u0022\u003C\/i\u003E, and continues to host that show and others on the network, including \u003Ci\u003E\u0022MacBreak Weekly\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Before You Buy\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Security Now\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022This Week in Google\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Triangulation\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Windows Weekly\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022iPad Today\u0022\u003C\/i\u003E, and \u003Ci\u003E\u0022The Tech Guy\u0022\u003C\/i\u003E.\u003C\/p\u003E\u003Cp\u003EHe also directs the network as a whole, hiring staff, originating new shows, and approving all advertising.\u003C\/p\u003E\u003Cp\u003EYou\u0027ll find more detail about Leo on his personal site: \u003Ca href=\u0022http:\/\/leoville.com\/bio\u0022\u003ELeoville\u003C\/a\u003E or in his \u003Ca href=\u0022http:\/\/www.google.com\/profiles\/laporte\u0022 rel=\u0022me\u0022\u003EGoogle Profile\u003C\/a\u003E and the unofficial (but mostly accurate) \u003Ca href=\u0022http:\/\/en.wikipedia.org\/wiki\/Leo_Laporte\u0022\u003EWikipedia Article\u003C\/a\u003E.\u003C\/p\u003E",
                            "bioSummary":"\u003Ch2\u003ELeo Laporte is the founder and owner of the TWiT Netcast Network.\u003C\/h2\u003E\u003Cp\u003EHe launched the network in 2005 with its first show, \u003Ci\u003E\u0022This Week in Tech\u0022\u003C\/i\u003E, and continues to host that show and others on the network, including \u003Ci\u003E\u0022MacBreak Weekly\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Before You Buy\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Security Now\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022This Week in Google\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Triangulation\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Windows Weekly\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022iPad Today\u0022\u003C\/i\u003E, and \u003Ci\u003E\u0022The Tech Guy\u0022\u003C\/i\u003E.\u003C\/p\u003E\u003Cp\u003EHe also directs the network as a whole, hiring staff, originating new shows, and approving all advertising.\u003C\/p\u003E",
                            "picture":{
                                "fid":"19084",
                                "url":"https:\/\/elroy.twit.tv\/sites\/default\/files\/people\/21\/pictures\/leo_1.jpg",
                                "fileName":"leo_1.jpg",
                                "mimeType":"image\/jpeg",
                                "derivatives":{
                                    "thumbnail":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/thumbnail\/public\/people\/21\/pictures\/leo_1.jpg?itok=iBDhlECB",
                                    "twit_album_art_70x70":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_70x70\/public\/people\/21\/pictures\/leo_1.jpg?itok=zoaPRhZe",
                                    "twit_album_art_144x144":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_144x144\/public\/people\/21\/pictures\/leo_1.jpg?itok=aGYCP4XS",
                                    "twit_album_art_240x240":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_240x240\/public\/people\/21\/pictures\/leo_1.jpg?itok=PrJlwpm_",
                                    "twit_album_art_300x300":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_300x300\/public\/people\/21\/pictures\/leo_1.jpg?itok=A3ENuRhj",
                                    "twit_album_art_600x600":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_600x600\/public\/people\/21\/pictures\/leo_1.jpg?itok=BvB2VL_K",
                                    "twit_album_art_1400x1400":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_1400x1400\/public\/people\/21\/pictures\/leo_1.jpg?itok=CMjnmf8o",
                                    "twit_album_art_2048x2048":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_2048x2048\/public\/people\/21\/pictures\/leo_1.jpg?itok=byDPDKFq"
                                },
                                "fileSize":"413244",
                                "width":"1600",
                                "height":"1600",
                                "alt":"",
                                "title":"",
                                "status":"1",
                                "changed":"2015-04-27T19:59:54Z",
                                "created":"2015-04-27T19:59:54Z"
                            },
                            "relatedLinks":[
                                {
                                    "url":"http:\/\/www.leoville.com",
                                    "title":"Leoville",
                                    "attributes":[

                                    ]
                                }
                            ],
                            "published":"1",
                            "created":"2011-08-21T19:41:30Z",
                            "changed":"2015-04-27T19:59:54Z",
                            "sticky":"0",
                            "staff":true,
                            "_links":{
                                "self":{
                                    "href":"https:\/\/twit.tv\/api\/v1.0\/people\/21"
                                }
                            }
                        }
                    }
                },
                "_links":{
                    "self":{
                        "title":"Self",
                        "href":"https:\/\/twit.tv\/api\/v1.0\/credits\/187"
                    }
                }
            }


# Group Episodes


## List all Episodes [/episodes{?filter%5Bshows%5D,filter%5BairingDate%5D,filter%5Bcredits%5D,filter%5Btopics%5D,filter%5Bcategories%5D,page,order,range,credits_people,credits_role,filter%5BepisodeNumber%5D,filter%5Bfeatured%5D}]
This API method returns episode information for TWiT.tv shows.
A query without parameters returns returns all episodes. Default sort order by is DESC chronologically by airingDate. Dates are returned in ZULU time.

In addition to HATEOAS elements (embedded shows, credits, offers, categories, topics) an episodes object has the following important attributes:

+ id - the resource identifier
+ label - the name of the resource.
+ cleanPath - The suffix can be used to link to the episode on the twit.tv website by appending this path to https://twit.tv{cleanpath}
+ ttl - a suggested ttl for this resource
+ episodeNumber - The episode number of this episode for this show.
+ airingDate - The first showing of the episode, usually it's recording date.
+ teaser - A short blurb about the episode.
+ showNotes - Detailed notes about the episode.
+ showNotesFooter - Important contact, support and other information for the episode.
+ featured - boolean field to indicate whether an episode is "featured"
+ relatedLinks - Links that relate to the episode.
+ files - Any files related to this episode.
+ heroImage - A preview image of the episode.
+ video_hd - Details about the HD video for this episode.
+ video_large - Details about the Standard def large video for this episode.
+ video_small - Details about the standard def small video for this episode.
+ video_audio - Details about the audio for this episode.
+ video_youtube - Details about the youtube video for this episode.
+ embedded - Shows, and optionally Credits, Offers, Categories, Topics resource objects are included in Episode resources.

+ Parameters
    + filter%5Bshows%5D (number, `67`, optional) ... The resource id of a show. Calling method without show returns episodes for all shows
    + filter%5BairingDate%5D (number, `1074384425`, optional) ... The date of the first showing of this episode in Unix Time stamp. You can combine this field with operators and or additional values for this filter to filter between, after or before an airing date to produce a filter with a start and end date. Ex: filter[airingDate][value][1]=1114960108&filter[airingDate][operator][1]="<="&filter[airingDate][value][0]=1074384425&filter[airingDate][operator][0]=">="
    See https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/docs/api_url.md for more information about filtering and combining filters.
    + filter%5Bcredits%5D (number, `22`, optional) ... the id of the Credits resource you want to filter by.
    + filter%5Btopics%5D (number, `13`, optional) ... the id of the Topics resource to filter these episodes by.
    + filter%5Bcategory%5D (number, `17`, optional) ... the id of the Categories resource to filter these episodes by.
    + page (number, `19`, optional) ... number for results pagination
    + range (number, `88`, optional) ... Limit the results set.
    + credits_people (number, `50`, optional) ... Limit the results set by a person represented by the id number of their resource from the people endpoint.
    + credits_role (number, `76`, optional) ... Limit the results set by a partifular role by the id number of the resource from the roles endpoint.
    + filter%5BepisodeNumber%5D (number, `120`, optional) ... Limit the results by an episode number.
    + filter%5Bfeatured%5D (boolean, `true`, optional) ... boolean field to indicate whether an episode is "featured".

### List all Episodes [GET]
+ Response 200 (application/hal+json)
        + Headers
            Accept: application/hal+json;

    + Body

            {
                "count":11881,
                "episodes":[
                    {
                        "id":52940,
                        "label":"Sunday May 31, 2015",
                        "cleanPath":"\/shows\/the-tech-guy\/episodes\/1192",
                        "ttl":"600",
                        "topics":null,
                        "episodeNumber":"1192",
                        "airingDate":"2015-05-31T23:45:00Z",
                        "teaser":"Google\u0027s new Photos app.",
                        "showNotes":"\u003Cp\u003E\u003Cstrong\u003EThe Tech Guy for Sunday 31 May 2015 - Show 1192\u003C\/strong\u003E \u003Cstrong\u003EHost\u003C\/strong\u003E: \u003Ca href=\u0022http:\/\/leoville.com\/\u0022\u003ELeo Laporte\u003C\/a\u003E Google\u0027s new Photos app, how to find out where photos in your library came from, connecting multiple devices to a single internet connection on a cruise ship, the \u0022hack\u0022 that will crash iPhones through iMessages, and more of your calls. Download or subscribe to this show at \u003Ca href=\u0022http:\/\/twit.tv\/ttg\u0022\u003Etwit.tv\/ttg\u003C\/a\u003E. For detailed show notes, visit \u003Ca href=\u0022http:\/\/techguylabs.com\/episodes\/1192\u0022\u003Etechguylabs.com\u003C\/a\u003E. Bandwidth for the Tech Guy podcast is provided by \u003Ca href=\u0022http:\/\/www.cachefly.com\u0022\u003ECachefly\u003C\/a\u003E.\u003C\/p\u003E",
                        "featured": true,
                        "showNotesFooter":null,
                        "relatedLinks":null,
                        "files":null,
                        "heroImage":{
                            "fid":"29500",
                            "url":"https:\/\/elroy.twit.tv\/sites\/default\/files\/images\/episodes\/52940\/hero\/spiros_ttg_1192jpg.jpg",
                            "fileName":"spiros_ttg_1192jpg.jpg",
                            "mimeType":"image\/jpeg",
                            "derivatives":{
                                "thumbnail":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/thumbnail\/public\/images\/episodes\/52940\/hero\/spiros_ttg_1192jpg.jpg?itok=c022gbko",
                                "twit_slideshow_1600x400":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_slideshow_1600x400\/public\/images\/episodes\/52940\/hero\/spiros_ttg_1192jpg.jpg?itok=IG0KcKFJ",
                                "twit_slideshow_1200x300":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_slideshow_1200x300\/public\/images\/episodes\/52940\/hero\/spiros_ttg_1192jpg.jpg?itok=KzGQl2r5",
                                "twit_slideshow_800x200":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_slideshow_800x200\/public\/images\/episodes\/52940\/hero\/spiros_ttg_1192jpg.jpg?itok=I_fYPeSd",
                                "twit_slideshow_600x450":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_slideshow_600x450\/public\/images\/episodes\/52940\/hero\/spiros_ttg_1192jpg.jpg?itok=X1zzkJ2m",
                                "twit_slideshow_400x300":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_slideshow_400x300\/public\/images\/episodes\/52940\/hero\/spiros_ttg_1192jpg.jpg?itok=ehkzzbrG"
                            },
                            "fileSize":"320693",
                            "width":"1280",
                            "height":"720",
                            "alt":"The Tech Guy 1192",
                            "title":"The Tech Guy 1192",
                            "status":"1",
                            "changed":"2015-06-06T16:15:54Z",
                            "created":"2015-06-06T16:15:54Z"
                        },
                        "video_hd":{
                            "mediaUrl":"http:\/\/www.podtrac.com\/pts\/redirect.mp4\/twit.cachefly.net\/video\/ttg\/ttg1192\/ttg1192_h264m_1280x720_1872.mp4",
                            "format":"hd",
                            "guid":null,
                            "size":null,
                            "changed":"2015-06-06T16:14:12Z",
                            "runningTime":"01:50:12",
                            "hours":"01",
                            "minutes":"50",
                            "seconds":"12"
                        },
                        "video_large":{
                            "mediaUrl":"http:\/\/www.podtrac.com\/pts\/redirect.mp4\/twit.cachefly.net\/video\/ttg\/ttg1192\/ttg1192_h264m_864x480_500.mp4",
                            "format":"sdl",
                            "guid":null,
                            "size":null,
                            "changed":"2015-06-06T16:14:12Z",
                            "runningTime":"01:50:12",
                            "hours":"01",
                            "minutes":"50",
                            "seconds":"12"
                        },
                        "video_small":{
                            "mediaUrl":"http:\/\/www.podtrac.com\/pts\/redirect.mp4\/twit.cachefly.net\/video\/ttg\/ttg1192\/ttg1192_h264b_640x368_256.mp4",
                            "format":"sds",
                            "guid":null,
                            "size":null,
                            "changed":"2015-06-06T16:14:12Z",
                            "runningTime":"01:50:12",
                            "hours":"01",
                            "minutes":"50",
                            "seconds":"12"
                        },
                        "video_audio":{
                            "mediaUrl":"http:\/\/www.podtrac.com\/pts\/redirect.mp3\/twit.cachefly.net\/audio\/ttg\/ttg1192\/ttg1192.mp3",
                            "format":"audio",
                            "guid":null,
                            "size":null,
                            "changed":"2015-06-06T16:14:12Z",
                            "runningTime":"01:50:12",
                            "hours":"01",
                            "minutes":"50",
                            "seconds":"12"
                        },
                        "video_youtube":null,
                        "published":"1",
                        "created":"2015-05-31T23:40:41Z",
                        "changed":"2015-06-06T17:25:06Z",
                        "_links":{
                            "self":{
                                "href":"https:\/\/twit.tv\/api\/v1.0\/episodes\/52940"
                            }
                        },
                        "_embedded":{
                            "credits":[
                                {
                                    "id":"187",
                                    "label":"Leo Laporte : Host",
                                    "ttl":"600",
                                    "roles":{
                                        "id":"76",
                                        "label":"Host",
                                        "self":"https:\/\/twit.tv\/api\/v1.0\/roles\/76",
                                        "ttl":"600",
                                        "weight":"0",
                                        "vid":"11",
                                        "type":"roles",
                                        "vocabularyName":"Roles",
                                        "termPath":"host"
                                    },
                                    "people":{
                                        "id":"21",
                                        "label":"Leo Laporte",
                                        "self":"https:\/\/twit.tv\/api\/v1.0\/people\/21",
                                        "cleanPath":"\/people\/leo-laporte",
                                        "ttl":"600",
                                        "positionTitle":null,
                                        "bio":"\u003Ch2\u003ELeo Laporte is the founder and owner of the TWiT Netcast Network.\u003C\/h2\u003E\u003Cp\u003EHe launched the network in 2005 with its first show, \u003Ci\u003E\u0022This Week in Tech\u0022\u003C\/i\u003E, and continues to host that show and others on the network, including \u003Ci\u003E\u0022MacBreak Weekly\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Before You Buy\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Security Now\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022This Week in Google\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Triangulation\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Windows Weekly\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022iPad Today\u0022\u003C\/i\u003E, and \u003Ci\u003E\u0022The Tech Guy\u0022\u003C\/i\u003E.\u003C\/p\u003E\u003Cp\u003EHe also directs the network as a whole, hiring staff, originating new shows, and approving all advertising.\u003C\/p\u003E\u003Cp\u003EYou\u0027ll find more detail about Leo on his personal site: \u003Ca href=\u0022http:\/\/leoville.com\/bio\u0022\u003ELeoville\u003C\/a\u003E or in his \u003Ca href=\u0022http:\/\/www.google.com\/profiles\/laporte\u0022 rel=\u0022me\u0022\u003EGoogle Profile\u003C\/a\u003E and the unofficial (but mostly accurate) \u003Ca href=\u0022http:\/\/en.wikipedia.org\/wiki\/Leo_Laporte\u0022\u003EWikipedia Article\u003C\/a\u003E.\u003C\/p\u003E",
                                        "bioSummary":"\u003Ch2\u003ELeo Laporte is the founder and owner of the TWiT Netcast Network.\u003C\/h2\u003E\u003Cp\u003EHe launched the network in 2005 with its first show, \u003Ci\u003E\u0022This Week in Tech\u0022\u003C\/i\u003E, and continues to host that show and others on the network, including \u003Ci\u003E\u0022MacBreak Weekly\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Before You Buy\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Security Now\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022This Week in Google\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Triangulation\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022Windows Weekly\u0022\u003C\/i\u003E, \u003Ci\u003E\u0022iPad Today\u0022\u003C\/i\u003E, and \u003Ci\u003E\u0022The Tech Guy\u0022\u003C\/i\u003E.\u003C\/p\u003E\u003Cp\u003EHe also directs the network as a whole, hiring staff, originating new shows, and approving all advertising.\u003C\/p\u003E",
                                        "picture":{
                                            "fid":"19084",
                                            "url":"https:\/\/elroy.twit.tv\/sites\/default\/files\/people\/21\/pictures\/leo_1.jpg",
                                            "fileName":"leo_1.jpg",
                                            "mimeType":"image\/jpeg",
                                            "derivatives":{
                                                "thumbnail":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/thumbnail\/public\/people\/21\/pictures\/leo_1.jpg?itok=iBDhlECB",
                                                "twit_album_art_70x70":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_70x70\/public\/people\/21\/pictures\/leo_1.jpg?itok=zoaPRhZe",
                                                "twit_album_art_144x144":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_144x144\/public\/people\/21\/pictures\/leo_1.jpg?itok=aGYCP4XS",
                                                "twit_album_art_240x240":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_240x240\/public\/people\/21\/pictures\/leo_1.jpg?itok=PrJlwpm_",
                                                "twit_album_art_300x300":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_300x300\/public\/people\/21\/pictures\/leo_1.jpg?itok=A3ENuRhj",
                                                "twit_album_art_600x600":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_600x600\/public\/people\/21\/pictures\/leo_1.jpg?itok=BvB2VL_K",
                                                "twit_album_art_1400x1400":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_1400x1400\/public\/people\/21\/pictures\/leo_1.jpg?itok=CMjnmf8o",
                                                "twit_album_art_2048x2048":"https:\/\/elroy.twit.tv\/sites\/default\/files\/styles\/twit_album_art_2048x2048\/public\/people\/21\/pictures\/leo_1.jpg?itok=byDPDKFq"
                                            },
                                            "fileSize":"413244",
                                            "width":"1600",
                                            "height":"1600",
                                            "alt":"",
                                            "title":"",
                                            "status":"1",
                                            "changed":"2015-04-27T19:59:54Z",
                                            "created":"2015-04-27T19:59:54Z"
                                        },
                                        "relatedLinks":[
                                            {
                                                "url":"http:\/\/www.leoville.com",
                                                "title":"Leoville",
                                                "attributes":[

                                                ]
                                            }
                                        ],
                                        "published":"1",
                                        "created":"2011-08-21T19:41:30Z",
                                        "changed":"2015-04-27T19:59:54Z",
                                        "sticky":"0",
                                        "staff":true
                                    },
                                    "created":"2015-04-23T16:38:59Z",
                                    "_links":{
                                        "self":{
                                            "href":"https:\/\/twit.tv\/api\/v1.0\/credits\/187"
                                        }
                                    }
                                }
                            ],
                            "shows":[
                                {
                                    "id":"1642",
                                    "label":"The Tech Guy",
                                    "cleanPath":"\/shows\/the-tech-guy",
                                    "ttl":"600",
                                    "description":"\u003Cp\u003ENo one does a better job of explaining technology, computers, and the Internet than Leo Laporte. This feed contains the full audio of his twice weekly radio talk show as heard on stations all over the US on the Premiere Radio Networks. For show notes and more visit \u003Ca href=\u0022http:\/\/techguylabs.com\/\u0022 target=\u0022_blank\u0022\u003Etechguylabs.com\u003C\/a\u003E.\u003C\/p\u003E",
                                    "descriptionSummary":"",
                                    "showNotes":null,
                                    "showDate":"Records live weekends at 2:00pm Eastern \/ 11:00am Pacific.",
                                    "showContactInfo":"\u003Cp\u003ECall 1-88-88-ASK-LEO\u003C\/p\u003E",
                                    "tagLine":"Leo Laporte takes to the radio every weekend to talk tech and answer your questions",
                                    "shortCode":"ttg",
                                    "hdVideoSubscriptionOptions":[
                                        {
                                            "id":"1023",
                                            "label":"The Tech Guy: iTunes hd",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/1023",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"170",
                                                "label":"iTunes",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/170",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"https:\/\/itunes.apple.com\/us\/podcast\/the-tech-guy-video-hd\/id593355353",
                                            "type":"hd",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"1024",
                                            "label":"The Tech Guy: YouTube hd",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/1024",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"182",
                                                "label":"YouTube",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/182",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"http:\/\/www.youtube.com\/TechGuyLabs",
                                            "type":"hd",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"1025",
                                            "label":"The Tech Guy: Feedly hd",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/1025",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"171",
                                                "label":"Feedly",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/171",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"http:\/\/cloud.feedly.com\/#subscription%2Ffeed%2Fhttp%3A%2F%2Ffeeds.twit.tv%2Fttg_video_hd.xml",
                                            "type":"hd",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"1026",
                                            "label":"The Tech Guy: Miro hd",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/1026",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"172",
                                                "label":"Miro",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/172",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"http:\/\/subscribe.getmiro.com\/?type=video\u0026url1=http%3A%2F%2Ffeeds.twit.tv%2Fttg_video_hd.xml",
                                            "type":"hd",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"1027",
                                            "label":"The Tech Guy: My Yahoo! hd",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/1027",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"173",
                                                "label":"My Yahoo!",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/173",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"http:\/\/add.my.yahoo.com\/rss?url=http:\/\/feeds.twit.tv\/ttg_video_hd.xml",
                                            "type":"hd",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"1028",
                                            "label":"The Tech Guy: Pocket Casts hd",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/1028",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"174",
                                                "label":"Pocket Casts",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/174",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"http:\/\/pcasts.in\/ttgvhd",
                                            "type":"hd",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"1029",
                                            "label":"The Tech Guy: Zune hd",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/1029",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"175",
                                                "label":"Zune",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/175",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"zune:\/\/subscribe\/?TheTechGuy=http:\/\/feeds.twit.tv\/ttg_video_hd.xml",
                                            "type":"hd",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"1030",
                                            "label":"The Tech Guy: Other podcast clients (pcast:\/\/ compatible) hd",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/1030",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"176",
                                                "label":"Other podcast clients (pcast:\/\/ compatible)",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/176",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"pcast:\/\/feeds.twit.tv\/ttg_video_hd.xml",
                                            "type":"hd",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"1031",
                                            "label":"The Tech Guy: RSS hd",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/1031",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"177",
                                                "label":"RSS",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/177",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"http:\/\/feeds.twit.tv\/ttg_video_hd.xml",
                                            "type":"hd",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        }
                                    ],
                                    "sdVideoLargeSubscriptionOptions":[
                                        {
                                            "id":"668",
                                            "label":"The Tech Guy: iTunes sdl",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/668",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"170",
                                                "label":"iTunes",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/170",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"https:\/\/itunes.apple.com\/us\/podcast\/the-tech-guy-video-hi\/id371172202",
                                            "type":"sdl",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"669",
                                            "label":"The Tech Guy: Feedly sdl",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/669",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"171",
                                                "label":"Feedly",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/171",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"http:\/\/cloud.feedly.com\/#subscription%2Ffeed%2Fhttp%3A%2F%2Ffeeds.twit.tv%2Fttg_video_large.xml",
                                            "type":"sdl",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"670",
                                            "label":"The Tech Guy: Miro sdl",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/670",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"172",
                                                "label":"Miro",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/172",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"http:\/\/subscribe.getmiro.com\/?type=video\u0026url1=http%3A%2F%2Ffeeds.twit.tv%2Fttg_video_large.xml",
                                            "type":"sdl",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"671",
                                            "label":"The Tech Guy: My Yahoo! sdl",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/671",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"173",
                                                "label":"My Yahoo!",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/173",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"http:\/\/add.my.yahoo.com\/rss?url=http:\/\/feeds.twit.tv\/ttg_video_large.xml",
                                            "type":"sdl",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"672",
                                            "label":"The Tech Guy: Pocket Casts sdl",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/672",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"174",
                                                "label":"Pocket Casts",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/174",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"http:\/\/pcasts.in\/ttgvhi",
                                            "type":"sdl",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"673",
                                            "label":"The Tech Guy: TiVo sdl",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/673",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"180",
                                                "label":"TiVo",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/180",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"https:\/\/www.tivo.com\/tivo-tco\/cds\/info.do?categoryId=tivo:ca.ts.1000601\u0026mixId=tivo:mx.10108071",
                                            "type":"sdl",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"674",
                                            "label":"The Tech Guy: Wurl sdl",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/674",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"178",
                                                "label":"Wurl",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/178",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"http:\/\/www.channels.com\/show\/370752",
                                            "type":"sdl",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"675",
                                            "label":"The Tech Guy: Zune sdl",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/675",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"175",
                                                "label":"Zune",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/175",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"zune:\/\/subscribe\/?TheTechGuy=http:\/\/feeds.twit.tv\/ttg_video_large.xml",
                                            "type":"sdl",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"676",
                                            "label":"The Tech Guy: Other podcast clients (pcast:\/\/ compatible) sdl",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/676",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"176",
                                                "label":"Other podcast clients (pcast:\/\/ compatible)",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/176",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"pcast:\/\/feeds.twit.tv\/ttg_video_large.xml",
                                            "type":"sdl",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"677",
                                            "label":"The Tech Guy: RSS sdl",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/677",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"177",
                                                "label":"RSS",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/177",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"http:\/\/feeds.twit.tv\/ttg_video_large.xml",
                                            "type":"sdl",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        }
                                    ],
                                    "sdVideoSmallSubscriptionOptions":[
                                        {
                                            "id":"329",
                                            "label":"The Tech Guy: iTunes sds",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/329",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"170",
                                                "label":"iTunes",
                                                "self":"https:\/\/twit.tv\/api\/v1.0\/providers\/170",
                                                "ttl":"600",
                                                "active":true,
                                                "created":"2015-04-06T19:12:04Z"
                                            },
                                            "url":"https:\/\/itunes.apple.com\/us\/podcast\/the-tech-guy-video-lo\/id371172407",
                                            "type":"sds",
                                            "created":"2015-04-06T19:12:08Z",
                                            "changed":"2015-04-06T19:12:08Z",
                                            "sticky":"0"
                                        },
                                        {
                                            "id":"330",
                                            "label":"The Tech Guy: Feedly sds",
                                            "self":"https:\/\/twit.tv\/api\/v1.0\/subscriptions\/330",
                                            "ttl":"600",
                                            "feedProvider":{
                                                "id":"171",
                                                "label":"Feedly",
[...]
